<%- include("partials/header.ejs") %>
<div class="about">
<h1>About</h1><br>
<p>
 This web blog is created by Sakthimai T S as a part of "Web Development Bootcamp" course from Udemy.You can also test this site by composing some new blogs.To compose new blogs,click the  button below compose or you can also compose blog from compose section in the nav,once you composed,publish them.<br/><b>Note:</b>This website does'nt contain a database,so once you refresh the page  it will be erased.   
</p><br>
<a href="/compose"><button type="button" class="btn btn-success">Compose</button></a>
</div>
<%- include("partials/footer.ejs") %>