<%- include("partials/header.ejs") %>
<div class="home">
    <section class="home-content">
        <h1>Welcome</h1><br>
        <p class="home-msg">
            Welcome to our blog, your one-stop destination for insightful articles, exciting stories, and a wealth of knowledge on a wide range of topics. Whether you're passionate about travel, technology, lifestyle, or anything in between, our blog has something for everyone. We believe in the power of sharing experiences and ideas, and our dedicated team of writers is here to bring you fresh and engaging content. Explore our collection of articles, tips, and personal narratives that inspire, inform, and entertain. Plus, we encourage you to become a part of our growing community by contributing your unique perspective. Share your own stories, expertise, and interests with our readers. We can't wait to read your blogs and connect with you on this exciting journey of learning and discovery.
        </p>
    </section>
    <section class="post">
        
    </section>
</div>
<%- include("partials/footer.ejs") %>